//
// Pin Constraints for FPGA Blinky Example
//
// Target: Tang Primer 20K (Gowin GW5A-25A)
// Package: MG121NES (121-pin QFN)
//
// CRITICAL WARNING: These pins are ONLY for Tang Primer 20K hardware!
//
// DO NOT USE on Papilio RetroCade - it has no discrete LEDs, only a single
// RGB LED (WS2812) that requires different control logic.
//
// For Papilio RetroCade, see the 'papilio-blinky' example instead.
//

// System clock input (27 MHz oscillator on Tang Primer 20K)
IO_LOC "clk" H11;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// System reset (active low button on Tang Primer 20K)
IO_LOC "rst_n" F11;
IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// LED outputs - Tang Primer 20K has 6 discrete LEDs
// (Papilio RetroCade users: Remove these and add your own pin assignments)
IO_LOC "led[0]" E11;
IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "led[1]" D11;
IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "led[2]" C11;
IO_PORT "led[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "led[3]" B11;
IO_PORT "led[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "led[4]" A11;
IO_PORT "led[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "led[5]" A10;
IO_PORT "led[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
